# pnpm 配置
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true

# 使用 pnpm 的 workspace 协议
prefer-workspace-packages=true
# 配置 Node 路径:在运行 npm scripts 时，自动将当前 Node.js 的路径添加到环境变量 PATH 的最前面
scripts-prepend-node-path=true
# 严格遵守 package.json 中的 engine 字段，确保Node版本正确
engine-strict=true
# 项目内设置为淘宝源，避免网络问题
registry=https://registry.npmmirror.com
enable-pre-post-scripts=true
